//colors
$main-color: #ff811c;
$black-trans: rgba(0, 0, 0, 0.15);

// metrics
$header-height-xs: 6rem;
$header-height: 9rem;
$footer-height: 6rem;
$sidebar-width: 10rem;

//gaps
$h-gap-md: 5rem;

// screen sizes

$phone: 500px;
$tablet: 750px;
$desktop: 1024px;
$landscape: 1340px;
